:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.page-body {
    font-family: var(--primary-font);
    background: var(--cloud, #F4F4FD);
}

.info-list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.web {
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.studios {
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.email {
    color: var(--slate, #434455);
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.phone {
    color: var(--slate, #434455);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.tagline-section {
    background: var(--navyblue, #2E2F42);
}

.tagline {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.modal-btn {
    color: var(--white, #FFF);
    /* Button Text */

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.quality-name {
    color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.paragraph {
    color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    /* 150% */
    letter-spacing: 0.32px;
}

.do {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.services-images {
    width: 360px;
    height: 300px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.team {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-photo-list {
    width: 264px;
    height: 260px;
    background: url(<path-to-image>), lightgray -335.01px -22.055px / 256.162% 173.614% no-repeat;
}

.name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.job-title {
    color: var(--slate, #434455);
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.conclusion {
    background: var(--navyblue, #2E2F42);
}

.tag {
    color: var(--cloud, #FFF);
    /* Body */
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}