:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

.page-body {
    font-family: Roboto, sans-serif;
    color: var(--cloud, #434455);
    background: var(--white, #FFF);
}

.list {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    color: var(--iris, #4d5ae5);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
}

.studio {
    color: var(--navyblue, #2e2f42);

}

.element {
    color: var(--navyblue, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.element:hover,
.element:focus {
    color: #404bbf
}

.adr {
    font-style: normal;
}

.adress-elem {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02px;
}

.email {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.email:hover,
.email:focus {
    color: #404bbf;
}

.phone {
    color: var(--slate, #434455);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.phone:hover,
.phone:focus {
    color: #404bbf;
}

.tagline-section {
    background: var(--navyblue, #2e2f42);
}

.tagline {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.modal-btn {
    color: var(--white, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--iris, #4D5AE5);
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF
}

.quality-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.paragraph {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.we_doing {
    color: var(--navyblue, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }

.employers {
    background-color: #F4F4FD;
}

.team-photo {
    background-color: #FFFFFF;
}

.team {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.info {
    background-color: #FFFFFF;
}

.name {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.job-title {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.conclusion {
    background: var(--navyblue, #2e2f42);
}

.studios {
    color: var(--navyblue, #f4f4fd);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.tag {
    color: var(--cloud, #F4F4FD);
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**Portfolio**/
.body {
    color: var(--slate, #434455);
    font-family: Roboto, sans-serif;
}

.modal-bt {
    color: var(--iris, #4d5ae5);
    background-color: var(--ocean, #F4F4FD);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.modal-bt:hover,
.modal-bt:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.content {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.divided {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}